[submodule "chapter_8"]
	path = chapter_8
	url = https://github.com/said-yolcu/def_gui_chapter_8.git
[submodule "chapter_9"]
	path = chapter_9
	url = https://github.com/said-yolcu/def_gui_chapter_9.git
[submodule "chapter_10"]
	path = chapter_10
	url = https://github.com/said-yolcu/def_gui_chapter_10.git
[submodule "chapter_11"]
	path = chapter_11
	url = https://github.com/said-yolcu/def_gui_chapter_11.git
[submodule "chapter_12"]
	path = chapter_12
	url = https://github.com/said-yolcu/def_gui_chapter_12.git
